@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
}
.card {
  display: inline-block;
  background: white;
  margin: auto;
  height: 400px;
  width: 250px;
  border-radius: 5%;
}
